# Ignorar vídeos gravados
*.mp4
record/*.mp4
archive/*.mp4
*cameras.json
*go2rtc.yaml
*.env

# Logs
*.log

# Sistema operacional / IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Arquivos temporários
*.tmp