# --- REDE E PORTAS ---
WEB_PORT=8005
GO2RTC_PORT=1984

# --- ARMAZENAMENTO E LIMPEZA ---
RECORD_PATH=./record
ARCHIVE_PATH=/mnt/Cameras

# --- PARÂMETROS DO GRAVADOR E PURGA ---
MAX_STORAGE_GB=100
TRIGGER_PERCENT=80
PURGE_PERCENT=30
CLEANUP_ACTION=MOVE
CLEANUP_TIME=12